/*BARRE DE RECHERCHE SECTION COMMUNAUTE
/*=======================================================*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.presentation {
  width: 100vw;
  height: 25vh;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.presentation h1 {
  letter-spacing: 1rem;
}

.presentation p {
  padding-top: 2rem;
}

.presentation button {
  margin-top: 2rem;
}

.ButtonOrange {
  background-color: #c66b3d;
  color: white;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
}

/*=================FENETRE POP UP====================*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 0.0625rem solid black;
  border-radius: 0.625rem;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 0.625rem 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 0.625rem 0.9375rem;
}

.inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#firstname,
#lastname,
#email,
#url {
  margin-top: 1rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*===================================================*/
.membres {
  width: 90vw;
  background-color: #707070;
  border-radius: 2.1875rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

select,
input,
.ButtonBlue {
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
}

.ButtonBlue {
  background-color: #26495c;
  color: white;
  cursor: pointer;
}

/*CARTE DES PROFILS*/
/*=======================================================*/

.Users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 3rem;
  width: 90vw;
  height: 100vh;
  grid-gap: 0.625rem;
  border-top: 0.125rem solid black;
}

.UserCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 20vw;
  max-width: 25vw;
  min-height: 55vh;
  max-height: 65vh;
  background-color: #c4a35a;
  border-radius: 0.625rem;
  padding: 1rem;
  margin: 1rem;
  border: 0.25rem solid #000000;
}

.NameUser,
.Users a {
  color: var(--color-txt);
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.2rem;
}

.UserCard h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.UserCard h6 {
  font-size: 1rem;
  text-align: center;
}

.UserCard:hover {
  box-shadow: 5px 5px 15px 5px #000000;
  cursor: pointer;
}

.content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.4rem;
}

.UserCard img {
  object-fit: contain;
  margin-bottom: 0.5rem;
  width: 90%;
  height: auto;
  border: 0.125rem solid black;
  border-radius: 0.125rem;
}

.contenucommunaute {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*======================================================*/
/* RESPONSIVE */

@media screen and (max-width: 1024px) {
  .Users {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100%, auto);
    max-width: 80vw;
  }

  .UserCard {
    min-width: 20vw;
    max-width: 30vw;
    min-height: 65vh;
    max-height: 75vh;
  }
}

@media screen and (max-width: 900px) {
  .membres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
  }

  .presentation {
    margin-bottom: 4rem;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.625rem;
    justify-items: center;
    width: 90%;
  }

  .ButtonBlue {
    grid-column: 1 / 3;
  }

  .Users {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100%, auto);
    max-width: 80vw;
  }

  .ButtonOrange {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Users {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .UserCard {
    min-width: 50vw;
    max-width: 60vw;
    min-height: 70vh;
    max-height: 80vh;
  }
}

@media screen and (max-width: 688px) {
  .membres {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .membres {
    margin-top: 10rem;
  }
}

